html {
    display: flex;
    justify-content: center;
}
body {
    height: 1000px;
    width: 500px;
    margin: 0;
    padding: 0;
    background-color: #f2ebdc;
    color: #111111;
    font-family: 'Open Sans',sans-serif;
}

.h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5%;
    height: 20%;
    background-color: #f2ebdc;
    padding-right: 7%;
}

.h1 p  , .h2 p{
    font-size: 4rem;
    font-family: Georgia, serif !important;
    color: #c097c2 !important;
    margin: 0;
}

.h1 img {
    height: 5rem;
}

.h2 {
    padding-left: 15%;
    text-align: center;
    height: 20%;
    background-color: #f2ebdc;
}

.solid_devider {
    margin-bottom: 29px;
    border-top: 3px solid #b7b5ac;
}

.headerdiv{
    padding-top: 29px;
}

table, th, td {
    border: 1px solid;
  }

.undertext {
    font-size: 1.125rem;
    font-family: 'PT Sans', sans-serif !important;
    color: #7b7a76 !important;
    text-align: end;
    padding-right: 50px;
}

.maindiv {
    height: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    
}
.maindiv img{
    object-fit: contain;
}

.links{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* From uiverse.io by @alshahwan */
button {
    background-color: #fff;
    border: 1px solid #bc2a8d;
    padding: 5px;
    position: relative;
    width: 25rem;
    height: 3em;
    transition: 0.5s;
    font-size: 25px;
    border-radius: 0.4em;
  }
  
  button p {
    position: absolute;
    top: 0.9em;
    left: 5.5em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #bc2a8d;
  }
  
  button svg {
    position: absolute;
    top: 1em;
    right: 0.5em;
    margin: 1;
    padding: 1;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  button:hover p {
    left: 0.6em;
    color: #fff
  }
  
  button:hover svg {
    opacity: 1;
  }
  
  button:hover {
    background-color: #bc2a8d;
  }
  