html {
    display: flex;
    justify-content: center;
}
body {
    height: 1000px;
    width: 380px;
    background-color:  #f2ebdc;
}


.animation-container {
    position: relative;
    height: 4%;
    overflow: hidden;
}

.animated-text {
    position: absolute;
    top: 0;
    left: -100%;
    font-size: 15px;
    color: #000;
    background-color: #f2ebdc;
    padding: 10px;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: slideRight 5s linear infinite;
    font-family: Arial, Helvetica, serif;
}

@keyframes slideRight {
    0% {
        left: -100%;
    }
    100% {
        left: 100%; /* Move to the right edge */
    }
}


.star {
    width: 35px;
    height: 35px;
    background-image: url(star-removebg-preview.png);
    background-size: cover;
  }

/* text */

.maintext_container {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px #b7b5ac;
    width: 90%;
    margin-left: 5%;
    border-top: 0px;
    border-bottom: 0px;

}
.maintext {
    font-size: 1.9rem;
    font-family:serif;
    height: 60%;
}

.maintext p, .secondtext p {
    color: #544f7c;
    margin-bottom: 0;
}
.maintext p{
    margin-top: 20%;
}
.secondtext p{
    margin-top: 1px;
}
.secondtext {
    display: flex;
    gap: 15%;
    align-items: center;
    font-family: math;
    font-size: 1rem;
    width: 100%;
    margin-left: 2rem;
    padding-bottom: 1rem;
}
.secondtext p{
    padding-bottom: 30px;
}

hr {
    border: 1px solid;
    color: #b7b5ac;
    margin: 0;
    margin-top: -1 !important;
}


img {
    height: 251.4px;
    width: 100%;
    object-fit: cover;
}


.maintext_containertwo {
    height: 251.4px;
    align-items: center;
    justify-content: center;
    border: solid 2px #b7b5ac;
    width: 90%;
    margin-left: 5%;
    border-top: 0px;
    border-bottom: 0px;
}

.alink{
    margin-top: 20px;
    display: flex;
    width: 91%;
    margin-left: 5%;
    text-decoration: none;
}

button {
    background-color: #f2ebdc;
    border: 1px solid rgb(116, 109, 76);
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
    color: rgb(116, 109, 76);
    width: 100%;

  }

button:hover {
    background-color: rgb(116, 109, 76);
    color: #f2ebdc;
}


.maincontainertree{
    height: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maincontainertree p{
    font-size: 13px;
    width: 90%;
    margin-left: 5% !important;
    font-family: Arial, Helvetica, serif;
    color: rgb(116, 109, 76);
    margin: 2px;
}
